{% extends 'base.html.twig' %}

{% block title %}Nouveau compte{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/registration/register.css') }}">
{% endblock %}

{% block body %}

{% include "header.html.twig" %}

<div id="main-content-container">
    {% for flashError in app.flashes('verify_email_error') %}
    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Nouveau compte</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, {
        label: 'Nom d\'utilisateur',
        attr : { class: 'area'}
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe',
        attr: { class: 'area' },
        compound: false
    }) }}

    <button type="submit" class="button"><i class="bi bi-person-plus"></i> Créer un compte</button>
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
