<script src="{{ asset('js/nav.js') }}"></script>

<nav id="nav">
    <div id="links">
        <a href="{{ path('home') }}"><i class="bi bi-house"></i> Accueil</a>
        {% if app.user %}
        <a href="{{ path('user_panel')}}"><i class="bi bi-person"></i> Mes statistiques ({{ app.user.username }})</a>
        <a href="{{ path('app_logout') }}"><i class="bi bi-box-arrow-left"></i> Déconnexion</a>
        {% else %}
        <a href="{{ path('app_login') }}"><i class="bi bi-box-arrow-in-right"></i> Connexion</a>
        <a href="{{ path('app_register') }}"><i class="bi bi-person-plus"></i> Nouveau compte</a>
        {% endif %}
    </div>
    <p id="version">v{{ app_version }}</p>
</nav>

<header id="header">
    <div id="nav-opener-container">
        <a id="nav-opener" href="javascript:void(0)" onclick="openNav()"><i class="bi bi-list"></i> Menu</a>
    </div>
    <div id="logo-container">
        <a href="{{ path('home') }}"><img id="logo" src="{{ asset('images/big_gra.png') }}" alt="Logo"></a>
        <a href="{{ path('home') }}" id="app-title">Ptero Dactyl<span class="blink">_</span></a>
    </div>

    <div id="theme-switcher-container">
        <button id="theme-switcher" title="Changer de thème">
            <i class="bi"></i>
        </button>
    </div>
</header>
