{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    {% if app.user %}
        <a id="start-button" class="button" href="{{ path('session') }}">
            <i class="bi bi-caret-right"></i>
            {% if app.session.get('step') == 0 or app.session.get('step') == 7 %}
                Démarrer
            {% else %}
                Reprendre
            {% endif %}
        </a>

        {% for message in app.flashes('benchDone') %}
            <div class="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% else %}
        {% include "_about.html.twig" %}
        <div>
            <a class="button" href="{{ path('app_login') }}">
                <i class="bi bi-box-arrow-in-right"></i>
                Connexion
            </a>
            <a class="button" href="{{ path('app_register') }}">
                <i class="bi bi-person-plus"></i>
                Nouveau compte
            </a>
        </div>
    {% endif %}
{% endblock %}
