{% extends "base.html.twig" %}

{% block title %}{{ app.user.username }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/userpanel.css') }}">
{% endblock %}

{% block body %}

    {% include "header.html.twig" %}

    <div id="main-content-container">

        <h1>{{ app.user.username }}</h1>

        <div id="user-panel-container">
            {% if dataTable == [] %}
                <p>Aucune données</p>
            {% else %}
                <table>
                    <caption>Vos derniers tests</caption>
                    <thead>
                        <tr>
                            <th rowspan=2><i class="bi bi-calendar-date"></i> Date</th>
                            <th colspan=3><i class="bi bi-spellcheck"></i> Benchmark</th>
                        </tr>
                        <tr>
                            <th><i class="bi bi-speedometer2"></i> Mots / minute</th>
                            <th><i class="bi bi-x"></i> Total de fautes</th>
                            <th><i class="bi bi-exclamation-circle"></i> Total de mots manqués</th>
                        </tr>
                    </thead>
                    <tbody>
                {% for bench in dataTable %}
                    <tr>
                      <td>{{bench['created_at']}}</td>
                      <td>{{bench['data']['wpm']}}</td>
                      <td>{{bench['data']['misChar']}}</td>
                      <td>{{bench['data']['misWord']}}</td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}
